:root {
	--cinza-claro: #f4f4f4;
	--cinza-medio: #929292;
    --cinza-escuro: #3A3535;
    --laranja: #FF7315;
}


.header__conteiner {
    display: flex;
    background-color: aquamarine;
}